<app-header></app-header>
<app-menu></app-menu>

<div class="container">
  <div class="card shadow-lg p-4">
    <div class="card-body">
      <h3 class="text-center mb-4">Ajouter un Foyer</h3>
      <form [formGroup]="FoyerForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group mb-3">
          <label for="nomFoyer" class="form-label">Nom du foyer</label>
          <input
            type="text"
            class="form-control"
            id="nomFoyer"
            formControlName="nomFoyer"
          />
          <div *ngIf="validateField('nomFoyer')" class="text-danger">
            {{ getErrorMessage("nomFoyer") }}
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="capaciteFoyer" class="form-label"
            >Capacité du foyer</label
          >
          <input
            type="number"
            class="form-control"
            id="capaciteFoyer"
            formControlName="capaciteFoyer"
          />
          <div *ngIf="validateField('capaciteFoyer')" class="text-danger">
            {{ getErrorMessage("capaciteFoyer") }}
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="idUniversite" class="form-label">Université</label>
          <select
            class="form-control"
            id="idUniversite"
            formControlName="idUniversite"
          >
            <option value="" disabled selected>
              Choisissez une université
            </option>
            <option
              *ngFor="let universite of universites"
              [value]="universite.idUniversite"
            >
              {{ universite.nomUniversite }}
            </option>
          </select>
          <div *ngIf="validateField('idUniversite')" class="text-danger">
            {{ getErrorMessage("idUniversite") }}
          </div>
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!FoyerForm.valid"
          >
            Ajouter
          </button>
          <button type="button" class="btn btn-secondary" (click)="onReset()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
