<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/liste">
        <i class="bi bi-person"></i>
        <span>Étudiants</span>
      </a>
    </li>
    <!-- End Tables Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/listeUniversite">
        <i class="bi bi-building"></i>
        <span>Universités</span>
      </a>
    </li>
    <!-- End Icons Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/blocs">
        <i class="bi bi-building"></i>
        <span>Blocs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/foyers">
        <i class="bi bi-house"></i>
        <span>Foyers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/chambres">
        <i class="bi bi-door-closed"></i>
        <span>Chambres</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/reservations">
        <i class="bi bi-calendar-check"></i>
        <span>Réservation</span>
      </a>
    </li>
  </ul>
</aside>
